{% extends 'base.html.twig' %}

{% block title %}Catégorie - {{ category.name }}{% endblock %}

{% block body %}
{#<div class="container">#}
    <div class="row ml-0 mb-4">
        <img class="img-fluid" src="{{ category.caption }}" alt="{{ category.name }}"/>
        <div class="container">
            <div class="carousel-caption text-left top-left">
                <h1>{{ category.name | upper }}</h1>
                {{ category.description | raw }}
            </div>
        </div>
    </div>
    <div class="container">
        {% include 'partials/product.html.twig' with { 'products': category.products } %}
    </div>
{#</div>#}
{% endblock %}
